:css
  .footer-logo {
    text-align: center;
    padding-top: 20px;
  }
  .footer-mark {
    text-align: center;
    font-size: 12px;
    padding-bottom: 30px;
    text-decoration: none;
  }
.footer-logo
  = link_to root_path do
    = image_tag "/images/logo/logo.png", size: "120x60"
  .footer-mark
    ©︎FURIMA