.header   
  .header__title  
    .header__title__logo
      %img(src="/assets/images/furima_logo.svg" alt="Furima_Logo")
    .header__title__search-bar
      
  .header__menu 
    .header__menu__search-list
    .header__menu__menu-list
.main   
  .main__service  
    .main__service__image-top
    .main__service__reason  service__box
    .main__service__image-middle
    .main__service__point  service__box
    .main__item__category  item__box
    .main__item__brand  item__box
.footer   
  .footer__image
  .footer__menu
    .footer__menu__box