.main{
  margin: 0 auto;
  padding-bottom: 50px;
  background-color: #f8f8f8f8;
  &__show{
    width: 800px;
    margin: 0 auto;
    &__top{
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      background-color: white;

      &__item_box{
        padding: 24px 40px 40px;
        font-size: 16px;
        list-style: none;
        text-align: right;
        height: 50px;
        .favorite-btn-b {
          color: rgb(240, 56, 71);
          font-size: 45px;
          margin-right: 20px;
        }
        .favorite-btn-a {
          color:gray;
          font-size: 45px;
          margin-right: 20px;
        }
        & ul {
          
          display: flex;
          padding-left: 520px;
        }
        & a{
          color:#3CCACE;
          border: solid 1px;
          width: 50px;
          border-radius: 5px;
          margin-right: 5px;
          padding: 5px;
        }



        &__name{
          text-align: center;
          font-weight: bold;
          font-size: 24px;
          height: 60px;
          line-height: 60px;
          border-bottom: 1px solid gray;
        }
        &__body{
          .first_image {
            height: 265px;
            width: 400px;
            margin: 30px auto;
            overflow: scroll;
            position: relative;
          }
            .image_a{
              margin: 50px auto 50px;
              width: 670px;
              display: flex;
              overflow-x: scroll;
              height: 133px;
              .image_b {
                min-width: 200px;
                max-width: 200px;
                min-height: 133px;
                max-height: 133px;
                overflow: scroll;
                margin-right: 10px;
              }
            }
        }
        &__price{
          margin: 24px 0 24px;
          &__detail{
            font-size: 16px;
          }

        }

      }
      
    }
    &__purchase{
      text-align: center;
      margin-top: 50px;
      & a{
        margin-top: 20px;
        background-color: red;
        color: white;
        border-radius: 15px;
        margin-top: 15px;
        padding: 20px 150px;
      }
    }
  }
}
.message-wraper {
  margin: 100px auto 0;
  width: 750px;
  padding: 0px 10px 30px;
  border: 3px solid gray;
  border-radius: 10px;
  .messages-box{
    background-color: #fafafa;
    width: 720px;
    min-height: 200px;
    max-height: 390px;
    overflow: scroll;
    margin: 0 auto;
    padding-top: 20px;
    border-bottom: 1px solid gray;
    .message-box-current-user {
      width: 680px;
      margin: 0px auto 30px;
      display: flex;
      justify-content: flex-end;
      &__left {
        margin-right: 15px;
        &__nickname{
          font-size: 14px;
          color: rgb(233, 113, 113);
          text-align: right;
        }
        &__comment{
          max-width: 500px;
          background-color: rgb(231, 228, 228);
          border-radius: 10px;
          padding: 7px 15px;
          word-wrap: break-word;
        }
      }
      &__right {
          width: 50px;
        .message-current-user-icon {
          border-radius: 10px;
        }
        .def-icon {
          border-radius: 10px;
          .icon {
            font-size: 40px;
          }
        }
      }
     
    }
    .message-box {
      width: 680px;
      margin: 0px auto 30px;
      display: flex;
      &__left {
        width: 50px;
        .message-user-icon {
          border-radius: 10px;
        }
        .def-icon {
          border-radius: 10px;
          .icon {
            font-size: 40px;
          }
        }
      }
      &__right {
        margin-left: 15px;
       
        &__nickname {
          font-size: 14px;
        }
        &__comment {
          max-width: 500px;
          background-color: rgb(231, 228, 228);
          border-radius: 10px;
          padding: 7px 15px;
          word-wrap: break-word;
        }
      }
    }
  }
  .show-message-form{
    display: block;
    margin:0 auto;
    background-color: #fafafa;
    width: 520px;
    overflow: scroll;
    padding: 10px 30px;
    margin-top: 35px;
    border-radius: 10px;
  }
  .show-comment-button{
    display: block;
    margin:0 auto;
    width: 400px;
    background-color: #3CCACE;
    border-radius: 10px;
    color: white;
    padding: 15px 100px;
  }
}

.table_item{
  width: 100%;
  height: 375px;
  border-collapse: collapse;
  font-size: 14px;
  border: solid 1px #eee;
  .record{
    border: solid 1px #eee;
    padding: 0.5em;
    .table_header{
      background-color: #eee;
    }
  }
}