.main{
  margin: 0 auto;
  background-color: #f8f8f8f8;
  &__show{
    width: 800px;
    padding: 40px;
    margin: 0 auto;
    &__top{
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      background-color: white;

      &__item_box{
        padding: 24px 40px 40px;
        font-size: 16px;
        list-style: none;
        text-align: right;
        height: 50px;
        & ul {
          
          display: flex;
          padding-left: 520px;
        }
        & a{
          color:#3CCACE;
          border: solid 1px;
          width: 50px;
          border-radius: 5px;
          margin-right: 5px;
          padding: 5px;
        }


        &__name{
          text-align: center;
          font-weight: bold;
          font-size: 24px;
          height: 60px;
          line-height: 60px;
          border-bottom: 1px solid gray;
        }
        &__body{
          .first_image {
            height: 265px;
            width: 400px;
            margin: 30px auto;
            overflow: scroll;
            position: relative;
          }
            .image_a{
              margin: 50px auto 50px;
              width: 670px;
              display: flex;
              overflow-x: scroll;
              height: 133px;
              .image_b {
                min-width: 200px;
                max-width: 200px;
                min-height: 133px;
                max-height: 133px;
                overflow: scroll;
                margin-right: 10px;
              }
            }
        }
        &__price{
          margin: 24px 0 24px;
          &__detail{
            font-size: 16px;
          }

        }

      }
      
    }
    &__purchase{
      text-align: center;
      margin-top: 20px;
      & a{
        background-color: red;
        font-size: 30px;
        color: white;
        border-radius: 15px;
        margin-top: 15px;
        padding: 15px 100px;
        width: 50px;
      }
    }

    &__btn{
  
      & ul{
        color: #3CCACE;
        justify-content: space-between;
        display: flex;
        font-size: 16px;
        & li{
          
          & a{
            color: #3CCACE;
           
          }
        }
      }
    }
    &__footer{
      font-size: 20px;
      margin: 24px 0;
      & a{
        color: #3CCACE;
      }
    }
  }
}
.message-wraper{
  background-color: #fafafa;
  width: 720px;
  height: 390px;
  overflow: scroll;
  margin-top: 35px;
  .message-wrap{
    width: 680px;
    height: 590px;
    overflow: scroll;
    margin: 0 auto;
    
    .message-box{
      width: 600px;
      height: 80px;
      margin: 0 auto;
      margin-top: 10px;
      position: relative;
      .massage-icon{
        width: 40px;
        height: 40px;
        margin-top: 15px;
        border-radius: 25px;
        position: absolute;
        overflow: scroll;
        .rounded-circle {
          width: 40px;
          height: 40px;
        }
    }
      .message-field{
        width: 500px;
        height: 65px;
        margin: 0 auto;
        margin-bottom: 10px;
        .message-name{
          width: 490px;
          height: 25px;
          margin: 0 auto;
        }
        .message-text{
          width: 495px;
          height: 35px;
          margin: 0 auto;
          border-radius: 10px;
          background-color: #eee;
        }
      } 
    }
  }
}
.show-message-form{
  display: block;
  margin:0 auto;
  background-color: #fafafa;
  width: 720px;
  overflow: scroll;
  padding-left: 30px;
  margin-top: 35px;
  border-radius: 10px;
}
.show-comment-button{
  display: block;
  margin:0 auto;
  width: 720px;
  background-color: #3CCACE;
  border-radius: 10px;
  color: white;
  padding: 15px 100px;
}
.table_item{
  width: 100%;
  height: 375px;
  border-collapse: collapse;
  font-size: 14px;
  border: solid 1px #eee;
  .record{
    border: solid 1px #eee;
    padding: 0.5em;
    .table_header{
      background-color: #eee;
    }
  }
}