* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  }
  .item-new {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    }
    .item-headder{
      height: 128px;
      background: #f5f5f5;
      position: relative;
    }
      .itmem-headder-title{
        width: 185px;
        height: 49px;
        line-height: 49px;
        color: rgb(212, 23, 23);
        text-align: center; 
        background-color: gold;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
  .item-main{
    height: 100%;
    background: #f5f5f5;
    border-top: 1px solid #eee;
  }
    .item-main-content {
      background-color: white;
      margin: auto;
      height: 2016px;
      width: 700px;
    }
      .item-main-headder{
        background-color: white;
        height: 97px;
        .headder-title {
          padding: 32px 16px;
          font-size: 22px;
          text-align: center;
          font-weight: bold;
        }
      }
      .item-form{
        height: 1919px;
        background-color: lightskyblue;
        border-top: 1px solid #eee;
      }
        .sell-uproad{
          height: 303px;
          background-color: white;
          position: relative;
        }
          .sell-text{
            position: absolute;
            top: 35px;
            right: 0;
            bottom: 0;
            left: 40px;
            font-weight: bold;
            display: flex;
            height: 16px;
            width: 540px;
          }

            .sell-text-uproad{
              font-size: 16px;
              font-weight: bold;
            }
            .must-text{
              font-size: 12px;
              background: #ea352d;
              height: 22px;
              width: 32px;
              font-weight: bold;
              color: white;
              margin: 0 0 0 8px;
              vertical-align: top;
              padding: 2px 4px;
              border-radius: 2px;
            }
          .sell-text-details{
            height: 21px;
            width: 540px;
            line-height: 1.5;
            position: absolute;
            top: 65px;
            right: 0;
            bottom: 0;
            left: 40px;
            font-size: 14px;
          }    
            .sell-drop-box{ 
              height: 162px;
              width: 620px;
              background: #f5f5f5;
              border: 1px dashed #ccc;
              display: flex;
              align-items: center;
              position: absolute;
              top: 35px;
              right: 0;
              bottom: 0;
              left: 0px;
            }
              .sell-drop-box-text{
                width: 620px;
                font-size: 14px;
                text-align: center;
             }
                .form {
                  height: 90px;
                  background-color: #d2d2d2;
                  padding: 20px 40px;
              
                  .new_message {
                    display: flex;
              
                      .form__mask {
                        height: 50px;
                        width: 100%;
                        color: #434a54;
                        border-style: none;
                        display: flex;
                        position: relative;
              
                        .form__message {
                          width: 100%;
                        }
              
                        .image-label {
                          font-size: 1.3rem;
                          position: absolute;
                          top: 10px;
                          right: 10px;
                          cursor: pointer;
              
                          .hidden {
                            display: none;
                          }
                        }
                      }
                      .form__submit {
                        width: 100px;
                        height: 50px;
                        padding: 12px 30px;
                        margin-left: 15px;
                        background-color: #38aef0;
                        color: white;
                        cursor: pointer;
                      }
                    }
              
                  }

        .sell-content{
          border-top: 1px solid #eee;
          height: 355px;
          background-color: white;
          display: flex;
          position: relative;
          
        }
          .sell-content-groups{
            height: 70px;
            width: 620px;
            background-color: white;
            position: absolute;
            top: 35px;
            right: 0;
            bottom: 0;
            left: 40px;
          }
            .sell-content-label{
              height: 22px;
              width:  90px;
              background-color: white;
              display: flex;
            }
              .sell-content-name{
                font-size: 14px;
                font-weight: bold;
                line-height: 22px;
              }
              .must-text{
                font-size: 12px;
                background: #ea352d;
                height: 22px;
                width: 32px;
                font-weight: bold;
                color: white;
                margin: 0 0 0 8px;
                vertical-align: top;
                padding: 2px 4px;
              }
              .input-default{
                margin-top: 8px;
                height: 48px;
                width: 620px;
                background-color: white;
                border-radius: 4px;
                border: 1px solid #ccc;
              }
                .input-defalt-name{
                  height: 48px;
                  margin: 10px 16px;
                  line-height: 1.5;
                  font-size: 16px;
                }

        .sell-details{
          height: 261px;
          background-color: lightgoldenrodyellow;
        }
        .sell-sending{
          height: 371px;
          background-color: lightsteelblue;
        }
        .sell-price{
          height: 299px;
          background-color: lightsalmon;
        }








// .post__drop__box__container{
//   display: block;
//   margin: 16px auto 0;
//   display: flex;
//   flex-wrap: wrap;

//   //プレビュー表示欄のCSS
//   .prev-content {
//     display: flex;
//     .preview-box {
//       height: 162px;
//       width: 112px;
//       margin: 0 15px 10px 0;
//       .upper-box {
//         height: 112px;
//         width: 100%;
//         img{
//           width: 112px;
//           height: 112px;
//         }
//       }
//       .lower-box {
//         display: flex;
//         text-align: center;
//         .update-box {
//           color: #00b0ff;
//           width: 50%;
//           height: 50px;
//           line-height: 50px;
//           border: 1px solid #eee;
//           background: #f5f5f5;
//           cursor: pointer;
//         }
//         .delete-box {
//           color: #00b0ff;
//           width: 50%;
//           height: 50px;
//           line-height: 50px;
//           border: 1px solid #eee;
//           background: #f5f5f5;
//           cursor: pointer;
//         }
//       }
//     }
//   }

//   //投稿クリックエリアのCSS
//   .label-content{
//     margin-bottom: 10px;
//     width: 620px;
//     .label-box {
//       display: block;
//       border: 1px dashed #ccc;
//       position: relative;
//       background: #f5f5f5;
//       width: 100%;
//       height: 162px;
//       cursor: pointer;
//       &__text-visible {
//         position: absolute;
//         top: 50%;
//         left: 16px;
//         right: 16px;
//         text-align: center;
//         font-size: 14px;
//         line-height: 1.5;
//         font-weight: bold;
//         -webkit-transform: translate(0, -50%);
//         transform: translate(0, -50%);
//         pointer-events: none;
//         white-space: pre-wrap;
//         word-wrap: break-word;
//       }
//     }
//   }

//   //file_fieldのcss
//   .hidden-content {
//     .hidden-field {
//       display: none;
//     }
//     .hidden-checkbox {
//       display: none;
//     }
//   }
// }