= render "shared/header"
= render "shared/item_btn"

.main
  .main__show
    .main__show__top
      .main__show__top__item_box
        = link_to "#", class: "aBtn" do
          = image_tag '/images/blue.jpg'
      %h1.main__show__top__item_box__name product

    

    .main__show__body
    .main__show__footer