@import "config/reset";
@import "mixin/mixin";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "users/devise";
@import "home";
@import "items/items_new";
@import "items/items_show";
@import "sendings";
@import "users/users_edit";
@import "users/users";
@import "orders";
@import "cards";
* {
  box-sizing: border-box;
}