h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
}

.header{
  width: 75%;
  margin: 0 auto;
  &__title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    &__logo {
      height: 50px;
      padding: 10px;
      & img{
        width: 150px;
        height: 35px;
        line-height: 50px;
      }
    }
    &__search_bar {
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding-left: 10px;
      &__text {
        width: calc(100% - 60px);
        height: 30px;
      }
      &__image {
        width: 30px;
        height: 30px;
        background-color: #3ccace;
      }
    }
    &__search_result {
      display: flex;
      position: absolute;
      right: 0;
      top: 36px;
      z-index: 2;
    }
  }
  &__menu {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
      .category-list{
        position: absolute;
        top: 58px;
        left: -20px;
        display: flex;
        .parent-box {
          height: 60px;
          width: 300px;
          line-height: 60px;
          padding-left: 10px;
          display: none;
          background-color: white;
        }
        .children-box{
          display: none;
          .child-box {
            height: 60px;
            width: 300px;
            line-height: 60px;
            padding-left: 10px;
            border-left: 3px solid rgb(248, 246, 246);
            background-color: white;
            &:hover{
              background-color: rgb(235, 229, 229);
            }
          }
        }
        .grandchildren-box {
          display: none;
          .grandchild-box {
            height: 60px;
            width: 300px;
            line-height: 60px;
            padding-left: 10px;
            border-left: 3px solid rgb(248, 246, 246);
            background-color: white;
            &:hover{
              background-color: rgb(235, 229, 229);
            }
          }
        }
      }

    &__menu-list{
      display: flex;
      & a{
        color: #000000;
        font-size: 20px;
        margin: 10px;
      }
    }
  }
}

.main {
  &__service {
    background-color: #ffffff;
    &__image-top {
      height: 560px;
      width: 100%;
      background-image: url(/images/pict/bg-mainVisual-pict_pc.jpg);
      background-size: cover;
      padding: 0 60px;
      display: flex;
      align-items: center;
      &__contents {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        &__subtitle {
          font-size: 60px;
          color: #ffffff;
          text-shadow: 0 0 5px #a9a9a9;
        }
        &__text {
          font-size: 18px;
          color: #ffffff;
          text-shadow: 0 0 5px #a9a9a9;
        }
        @include app_btn();
      }
    }
    &__introduction {
      margin: 60px 20px;
      text-align: center;
      &__subtitle::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3ccace;
        position: absolute;
        bottom: 0;
        left: 48%;
      }
      &__subtitle {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
      }
      &__lists {
        max-width: 1020px;
        width: 100%;
        display: flex;
        margin: 0 auto;

        &--list {
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;

          &--pict {
            margin-bottom: 20px;
            position: relative;
          }
          &--pict span {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin-right: 5px;
            padding: 10px 20px;
            background-color: #3ccace;
            color: #ffffff;
          }
          &--subtitle {
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            & span {
              color: #3ccace;
            }
          }
          &--text {
            font-size: 18px;
            margin-top: 16px;
          }
        }
      }
    }
    &__image-middle {
      height: 400px;
      width: 100%;
      background-image: url(/images/pict/bg-topMiddleDl-pict.jpg);
      background-size: cover;
      display: flex;
      align-items: center;
      &__contents {
        max-width: 1040px;
        width: 100%;
        margin: 0 auto;
        &__subtitle {
          font-size: 27px;
          font-weight: bold;
          color: #ffffff;
          text-shadow: 0 0 5px #a9a9a9;
        }
        &__text {
          font-size: 18px;
          color: #ffffff;
          text-shadow: 0 0 5px #a9a9a9;
          margin: 20px 0 30px;
        }
        @include app_btn();
      }
    }
    &__point {
      padding: 60px 100px;
      text-align: center;
      background-color: #ffffff;
      &__subtitle::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3ccace;
        position: absolute;
        bottom: 0;
        left: 46%;
      }
      &__subtitle {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
      }
      &__lists {
        max-width: 1020px;
        width: 100%;
        display: flex;
        margin: 0 auto;
        &--list {
          width: calc(100% / 3);
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          text-align: center;
          &--pict {
            position: relative;
            width: 70%;
            margin: 0 auto;
            line-height: 120px;
          }
          &--subtitle {
            font-weight: bold;
            font-size: 19px;
            line-height: 50px;
            margin: 38px 0 10px;
          }
          &--text {
            font-size: 17px;
            margin: 0 0 40px;
            text-align: left;
          }
        }
      }
    }
  }
  &__item__category {
    height: 100%;
    background-color: #f8f8f8;
    padding: 80px 0 0;
    text-align: center;
    @include display_lists();
  }
  &__item__brand {
    height: 100%;
    background-color: #f8f8f8;
    padding: 80px 0 80px;
    text-align: center;

    @include display_lists();
  }
}
@include item_list();

.footer {
  &__image {
    width: 100%;
    background-image: url(/images/pict/bg-appBanner-pict.jpg);
    background-size: cover;
    padding: 100px 40px;
    &__contents {
      color: #ffffff;
      text-shadow: 0 0 5px #a9a9a9;
      text-align: center;
      &__subtitle {
        font-size: 24px;
        font-weight: bold;
      }
      &__text {
        font-size: 35px;
      }
      &__btn {
        display: flex;
        justify-content: center;
      }
      @include app_btn();
    }
  }
  &__menu {
    color: #ffffff;
    background-color: #272727;
    padding: 60px 0;
    text-align: center;
    &__lists {
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;

      &__list {
        display: flex;
        flex-direction: column;
        &__subtitle {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        &__menu a{
          color: #ffffff;
          font-size: 12px;
          line-height: 32px;
        }
        &__menu a:hover{
          text-decoration: underline;
        }
      }
    }
    &__logo img{
      max-width: 160px;
      width: 100%;
      margin: 0 auto;
      display: block;
    }
  }
}

@include item_btn();