h4,h5,h6 {
  margin: 0;
}
.order-wrap  {
  .order-mein{
    display: block;
    background-color: #eeeeee;
  }
  .share__header {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #eeeeee;
  }
  .order-content{
    width: 700px;
    margin: 0 auto;
    background: #fff;
    &__head{
      padding: 16px;
      font-size: 22px;
      line-height: 1.5;
      text-align: center;
      border-style: solid;
      border-width: 0;
      font-weight: bold;
    }
    &__item{
      padding: 24px 12.5% 0;
      border-top: 1px solid #f5f5f5;
    }
    &__info{
      padding: 24px 12.5% 0;
      border-top: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5;
    }
    .order-content__info-under{
      width: 100%;
      height: 100%;
      // border: 1px solid  red;
      padding-bottom: 50px;
    }
    &__inner{
      max-width: 320px;
      margin: 0 auto;
      justify-content: space-between;
   
      &__post{
        h3{
          font-size: 14px;
          font-weight: bold;
        }
        h4{
          text-align: left;
        }
        h5{
          margin-right: 30px;
        }
        h6{
          margin-right: 30px;
          font-size: 16px;
        }
      }

.order-content__pay-registration{
  margin-top: 30px;
  .order-content__registration{
    float: right;
    color: #0099e8;
  }
  h7{
    margin-right: 30px;
    margin-top: 10px;
  }
}

  label {
    display: block;
  }
}
    &__form{
      width: 100%;
      display: block;
      text-align: center;
      p{
        margin: 28px 0 0;
        line-height: 1.5;
        font-size: 16px;
        font-weight: 600;
        padding: 20px 0 0;
        position: relative;
        span{
          margin: o auto;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    &__table{
      li{
        font-size: 18px;
      }
    }
    
    &__pricecell{
      text-align: left;
      display: table-cell;
      padding: 46px 0;
      font-weight: 600;
      width: 20%;
    }
    &__pricecells {
      display: table-cell;
      width: 30%;
    }
    &__text{
      color: #ea352d;
      line-height: 1.5;
      font-size: 14px;
      margin-top: 8px;
    }
    &__btn{
      background: #ea352d;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 17px;
      width: 110%;
      color: white;
      border-radius: 5px;
    }
    &__info{
      margin: 40px 0 0;
      padding: 24px 12.5% 0;
      border-top: 1px solid #f5f5f5;
    }
    
    &__change{
      float: right;
      text-align: right;
      color: #0099e8;
    }
    
    &__infotext{
      margin: 8px 0 0;
      font-size: 14px;
      line-height: 1.4;
      width: 100%;
      display: block;
    }
    .order-content__fixes{
      margin-left: 145px;
      margin-bottom: 0px;
      color: #0099e8;
      width: 100%;
    }
  
  }
  #order-bottom{
    padding-bottom:65px;
  }
}
.order__contents {
  @include app_btn();
}
.footer-logo {
  text-align: center;
  background-color: #eeeeee;
  width: 100%;
}
.order_done__mypage-btn {
  @include sending-btns;
  display: block;
  background-color: rgb(13, 199, 168);
}
