// Place all the styles related to the sendings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  background-color: #eeeeee;
  .wrap {
    background-color: white;
    margin: 0 auto;
    width: calc( 100vw - 700px );
    .sending__header {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 50px;
      background-color: #eeeeee;
    }
    .sending__header__logo {
    }
    .sending-message {
      .sending-message__info{
        text-align: center;
        font-weight: bold;
        font-size: x-large;
        border: 2px solid #eeeeee;     
      }
    }
    .sending-info {
      .sending-info-wrap {
        margin: 0 auto;
        max-width: 343px;
        &__name {
          margin-top: 30px; 
        } 
        &__kana {
          margin-top: 30px;
        }
        &__postal-code {
          margin-top: 30px;
        }
        &__prefecture {
          margin-top: 30px;
        }
        &__city {
          margin-top: 30px;
        }
        &__address {
          margin-top: 30px;
        }
        &__building-name {
          margin-top: 30px;
        }
        &__tell {
          margin-top: 30px; 
        }
        .identification__form__field  {
          width: 350px;
        }
      }
      .require {
        background-color: red;
        color: white;
      }
      .requires {
        background-color:gray;
        color: white;
      } 
      @mixin first {
        height: 50px;
        width: 350px;
      }    
      .form__top {
        @include first;
      }
      .form__bottom {
        @include first;
        margin-top: 10px;
      }
      .form__single {
        @include first;
      }
      .sending-info__kama {
        text-align: center;
        font-weight: bold;
        font-size: x-large;
      }
      .btn-red {
        background-color: red;
        color: white;
        @include first;
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
  }
  .fotter-logo {
    text-align: center;
    margin-top: 20px;
  }
  .fotter-mark {
    text-align: center;
    font-size: 12px;
    padding-bottom: 80px;
    text-decoration: none;
  }
  select {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
  }
}