@mixin devise_form {
  width: calc(30% - 17px);
  height: 48px;
  background-color: white;
}
.container{
  height: 100%;
  background-color: #f5f5f5;
  padding-bottom: 100px;
  &__header{
    .share__header {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 50px;
      background-color: #eeeeee;
    }
  }
    #error_explanation {
      border: 5px solid red;
      width: 800px;
      height: 500px;
      padding-top: 60px;
      margin: 50px auto;
      text-align: center;
      display: block;
  }
  &__main{
    margin: 100px auto 0 auto;
    font-size: 16px;
    width: 700px;
    background-color: white;
    h2{
      text-align: center;
      font-size: 22px;
      padding: 32px;
      border-bottom: 1px solid #f5f5f5;
    }
    .new_user{
      padding: 40px 40px 64px;
    }
    &__form{
      max-width: 343px;
      margin: 0px auto;
      .field{
        margin-top: 30px;
        .require{
          background-color: red;
          color: white;
          font-size: 12px;
          padding: 2px 4px;
        }
        .nickname_box{
          height: 48px;
          width: 100%;
          padding: 10px 16px;
          line-height: 100%;
          border-radius: 6px;
          border: 1px solid #ccc;  
        }
        .field_with_errors {
          display: inline;
        }
        .name_box{
          height: 48px;
          width: calc(50% - 6px);
          border-radius: 6px;

        }
        #user_birth_year {
          @include devise_form;
        }
        #user_birth_month {
          @include devise_form;
        }
        #user_birth_day {
          @include devise_form;
        }
        .caution{
          color: #888;
        }
      }
    }
    
  }
  &__low{
    max-width: 343px;  
    margin: 0 auto;
    .form_submit{
      margin-top: 20px;
      line-height: 48px;
      width: 100%;
      color: white;
      background-color: red;
    }
  }
  .another_link {
    height: 30px;
    width: 230px;
    margin: 30px 0 0 70px; 
    padding-bottom: 80px;
  }
  .footer-logo {
    text-align: center;
    margin-top: 20px;
  }
  .footer-mark {
    text-align: center;
    font-size: 12px;
    padding-bottom: 80px;
    text-decoration: none;
  }
}