.container{
  padding-bottom: 50px;
  background-color: #f5f5f5;
  &__header{
    height: 300px;
  }
  &__main{
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    width: 700px;
    background-color: white;
    h2{
      text-align: center;
      font-size: 22px;
      padding: 32px;
      border-bottom: 1px solid #f5f5f5;
    }
    .new_user{
      padding: 40px 40px 64px;
    }
    &__form{
      max-width: 343px;
      margin: 0 auto;
      .field{
        margin-bottom: 24px;
        .require{
          background-color: red;
          color: white;
          font-size: 12px;
          padding: 2px 4px;
        }
        .nickname_box{
          height: 48px;
          width: 100%;
          padding: 10px 16px;
          line-height: 100%;
          border-radius: 6px;
          border: 1px solid #ccc;  
        }
        .name_box{
          height: 48px;
          width: calc(50% - 6px);
          border-radius: 6px;
          border: 1px solid #ccc;

        }
        
        #user_birth_year {
          display: inline-block;
          width: calc(30% - 17px);
          height: 48px;
          background-color: white;
          border: 1px solid red;
        }
        #user_birth_month {
          width: calc(30% - 17px);
          height: 48px;
          background-color: white;
        }
        #user_birth_day {
          width: calc(30% - 17px);
          height: 48px;
          background-color: white;
        }
        .caution{
          color: #888;
        }
      }
    }
    
  }
  &__low{
    max-width: 343px;  
    margin: 0 auto;
    .form_submit{
      margin-top: 32px;
      line-height: 48px;
      width: 100%;
      background-color: red;
      color: white;
    }
  }
  .another_link {
    margin: 50px 0 0 70px; 
  }
}