@mixin side_bar{
  width: 280px;
  height: 50px;
  color: rgb(102, 100, 100);
  font-size: 14px;
  background-color: rgb(247, 250, 252);
  line-height: 50px;
  padding-left: 20px;
  margin: 1px auto;
  cursor: pointer;
  &:hover{
    background-color: rgb(218, 243, 252) ! important;

  }
}
@mixin tab-for-change {
  width: 350px;
  height: 60px;
  font-size: 15px;
  font-weight: 900  ;
  text-align: center;
  line-height: 60px;
}

@mixin change_box {
  height: 350px;
  background-color: rgb(247, 250, 252);
  overflow: scroll;
  .box {
    border-bottom: 1px solid rgb(196, 192, 192);
    height: 80px;
    &:hover {
      background-color: rgb(243, 253, 253);
      cursor: pointer;
    }
  }
}
@mixin hide_box {
  display: none;
  width: 700px;
  height: 410px;
  margin-top: 20px;
  background-color: rgb(247, 250, 252);
}
@mixin product-content {
  border: 1px solid rgb(120, 139, 127);
  padding-left: 20px;
  display: flex;
  color: black;

  .product-content{
    width :160px;
    text-align: center;
  }
}

.my_page-wrapper {
  width: 100%;
  height: 100%;
  .my_page {
    display: flex;
    padding-bottom: 50px;
    &__sidebar {
      width: 285px;
      height: 100%;
      margin: 0 80px 0 150px;
      .title {
        width:280px;
        margin: 10px auto;
        font-size: 20px;
        font-weight: 500;
      }
      &__top {
        width: 100%;
        margin: 50px 0 100px 0;
        .my_page-lists {
          .my_page-list {
            @include side_bar;
          }
        }
      }
      &__bottom {
        width: 100%;
        margin-bottom: 50px;
        .title {
          width:280px;
          margin: 10px auto;
          font-size: 20px;
          font-weight: 500;
        }
        .my_page-lists {
          .my_page-list {
            @include side_bar;
          }
        }
      }
    }
    &__main {
      width: 700px;
      height: 100%  ;
      .user-profile-box {
        margin-top: 50px;
        padding-top: 60px;

        height: 300px;
        background-color: rgb(215, 234, 235);
        background-size: cover;
        border-radius: 10px;
          #profile-label{
            height: 100px;
            line-height: 100px;
            display: block;
          }
          .profile-hidden{
            display: none;
          }
          .profile-submit{
            display: none;

          }
          .profile-label{
            // display: block;
            width: 200px;
            margin: 0 auto;
            border-radius: 20px;
          }
          .profile-image{
            text-align: center;
            .profile-tag{
              border-radius: 20px;
            }
            #user-icon{
            border-radius: 20px;
            }
          }
          .new-product__form{
            // display: none;
            // border: 1px solid yellow;

          }

        .profile-name{
          margin-top: 50px;
          height: 60px;
          text-align: center;
          line-height: 60px;
          font-size: 30px;
        }

        .user_profile {
          width: 100px;
          height: 100px;
          margin: 60px auto 40px auto;
          border-radius: 40px;  
          background-color: rgb(103, 109, 110);
          .user_icon_form{
            height: 200px;
            width: 200px;
            .user_profile_icon{
              height: 200px;
              width: 200px;
              .file_send{
                height: 200px;
                width: 200px;
              }
            }
          }
        }
        .user-name{
          width: 300px;
          font-size: 20px;
          font-weight: 800;
          color: rgb(53, 50, 50);
          margin: 0px auto;
          text-align: center;
        }
      }
      &__item-lists{
        @include hide_box;
        display: block;
        padding-bottom: 50px;
        & h2 {
          border-bottom: 3px solid rgb(190, 196, 194);
          padding: 20px 0;
          text-align: center;
        }
        .nothing-box {
          color: rgb(190, 196, 194);
          font-size: 22px;
          font-weight: 900;
          margin-top: 140px;
          text-align: center;
        }
        &__my-products{
          height: 300px;
          width: 90%;
          display: flex;
          align-items: center;
          overflow-x: scroll;
          margin: 10px auto;
          .my-product{
            max-height: 300px;
            .product-box{
              min-width: 280px;
              margin-right: 10px;
              &__image{
                max-width: 280px;
                max-height: 210px;
                overflow: scroll;
              }
              &__name{
                @include product-content;
              }
              &__price{
                @include product-content;
              .product-content{
                margin-left: 15px;
              }
              }
            }
          }
        }
      }
      // &__product-container {
      //   background-color: rgb(247, 250, 252);
      //   h3 {
      //   padding: 30px 0  0 40px;
      //   background-color: rgb(247, 250, 252);
      //   }
      //   ul {
      //     display: flex;
      //     #during-trading {
      //       @include tab-for-change;
      //       border-top: 3px solid rgb(4, 230, 218);
      //     }
      //     #past {
      //       @include tab-for-change;
      //       background-color: rgb(218, 213, 213);
      //       color: rgb(117, 120, 121);
      //       cursor: pointer;
      //       border-top: 3px solid rgb(255, 255, 255);
      //     }
      //   }
      //   .during-trading-boxs {
      //     @include change_box;
      //   }
      //   .past-boxs {
      //     display: none;
      //     @include change_box;
      //   }
      // }
      &__information{
        @include hide_box;
        height: 630px;
        display: none;
        & h2 {
          border-bottom: 3px solid rgb(190, 196, 194);
          padding: 20px 0;
          text-align: center;
        }
      }
      &__credit {
        @include hide_box;
        height: 550px;
        padding-bottom: 50px;
        & h2 {
          border-bottom: 3px solid rgb(190, 196, 194);
          padding: 20px 0;
          text-align: center;
        }
        .card__error-message {
          margin-top: 70px;
          color: gray;
          text-align: center;
          font-size: 20px;
        }
        .cards-box {
          width: 622px;
          height: 230px;
          margin: 50px auto 0;
          display: flex;
          overflow-x: scroll;
          .card-box {
            min-width: 200px;
            margin-right: 10px;
            background-color: white;
            border: 1px solid rgb(243, 214, 214);
            & h3 {
              height: 40px;
              text-align: center;
              line-height: 40px;
              color: rgb(102, 100, 100);
              border-bottom: 2px solid rgb(245, 204, 204);
            }
            .card-number {
              text-align: center;
              & p{
                text-align: left;
                padding: 8px 10px;
              }
            }
            .expiration-date {
              padding: 0 35px 0 5px;
              text-align: right;
              & p{
                text-align: left;
                padding: 4px 10px;
              }
            }
            .delete-btn {
              margin: 15px 0 0 45px;
              text-align: center;
              display: inline-block;
              width: 100px;
              height: 35px;
              color: white;
              line-height: 35px;
              background-color: rgb(250, 107, 107);
              border-radius: 5px;
            }
          }
        }
        .card-btn {
          display: block;
          width: 400px;
          height: 70px;
          color: white;
          text-align: center;
          line-height: 70px;
          margin: 70px auto 0;
          border-radius: 10px;
          background-color: rgb(127, 196, 192);
          text-decoration: none;
          &:hover {
            background-color: rgb(143, 218, 214);
          }
        }
      }
      &__logout {
        @include hide_box;
        & h3 {
          padding: 80px 0  0 200px;
        }
        .logout-btn {
          display: block;
          width: 400px;
          height: 70px;
          color: white;
          text-align: center;
          line-height: 70px;
          margin: 70px auto;
          border-radius: 10px;
          background-color: rgb(127, 196, 192);
          text-decoration: none;
          &:hover {
            background-color: rgb(143, 218, 214);
          }
        }
      }
    }
  }
}